<%= form_for @photo do |f| %>

  <p>Title</p>
  <p><%= f.text_field :title %></p>

  <p>Artist</p>
  <p><%= f.text_field :artist %></p>

  <p>URL</p>
  <p><%= f.text_field :url %></p>

  <p><%= f.submit %></p>

<% end %>